/*---------- Default ----------*/

* {	
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	text-align: center;
}

h1 {
	text-align: center;
}

/*---------- Generic ----------*/

.row {
	
}
	.rowMap{
		margin: 20px 0px;
	}

	.rowRoad{
		margin: 70px 0px; /* Only for roads without exit */
	}

	.rowSlot{
		margin: 30px 0px;
	}

.col-md-1 {
	width: 6.6%; /* Largeur places */
}

#building {
	background-color: white;
	border: 4px solid #d9d9d9;
	-webkit-border-radius: 8px;
			border-radius: 8px;
}

.globalCt {
	margin-top: 5px;
}

	.globalCt h2 {
		margin-top: 10px;
	}

	.globalCt h3 {
		color: #666666;
		margin-top: 10px;
	}

.map {
	background-color: #ffffff;
	height: 100px;
	width: 100%;
	border: 4px solid #d9d9d9;
	-webkit-border-radius: 8px;
			border-radius: 8px;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

	.map:hover {
		background-color: #d9d9d9;
	}
	
	.map h2 {
		margin-top: 10px;
	}

	.map h3 {
		margin-top: 10px;
		color: #666666;
	}

.slot {
	-webkit-border-radius: 5px;
			border-radius: 5px;
	font-size: 1.5em;
	height: 80px;
	background-color: #d9d9d9;
}

.car {
	opacity: 0.7;
	max-width:100%;
	max-height:100%;
	padding-top: 12%;	
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.exit {
	opacity: 0.9;
	max-width:100%;
	max-height:100%;
	margin-left: 70%;
}

.sExit {
	opacity: 0.9;
	margin-top: 20px;
}

.arrow {
	opacity: 0.5;
}

/*---------- Menu ----------*/

#menu li {
	display:inline-block;
	margin: 10px;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 10px;
            border-radius: 10px;
    font-size: 1.2em;
}
#menu li.active{
	background:#666;
	background: rgba(0,0,0, 0.5);
	color: #fff;
}
#menu li a{
	text-decoration:none;
	color: #000;
}
#menu li.active a:hover{
	color: #000;
}
#menu li:hover{
	background: rgba(0,0,0, 0.1);
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #fff;
}
#menu{
	position:fixed;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}